.HomePage {
    width: auto;
    background: whitesmoke;
    height: 380px;
}
.TitleText {
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    padding-top: 5px;
}
.AboutUs{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 24px;
}
.AboutUsText{
    color: darkblue;
    font-size: 37px;
    text-align: center;
    padding-top: 20px;
}
.NumberText {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: black;
}
.Navbar{
    background: darkblue;
    width: auto;
    height: 110px;
}
.ButtonsBlock{
    text-align: center;
    padding: 0 20px 0 10px;
    margin-bottom: 10px;
    outline-color: transparent;
}
.Button{
    margin: 8px 15px 0 15px;
    background: whitesmoke;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
    text-decoration: none;
}
.CardBlock{
    display: flex;
    text-align: center;
}